.items {
  overflow-x: scroll;
   padding: 50px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}


